//淡入淡出
.fade-enter-active,
.fade-leave-active {
    transition: all .75s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
    transform: translateY(.1rem);
}

//滑动
.slide-left-enter-active,
.slide-left-leave-active {
    transition: all .75s;
}
.slide-left-enter,
.slide-left-leave-to
{
    opacity: 0;
    transform: translateX(.1rem);
}

//下滑
.slideDown-enter-active,
.slideDown-leave-active {
    transition: all .5s;
}
.slideDown-enter,
.slideDown-leave-to
{
    opacity: 0;
    transform: translateY(-1rem);
}

//旋转
@keyframes rotating {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

//design left
.card{
    transition: all .75s;
}
.left-enter, .left-leave-to {
    opacity: 0;
    transform: translateX(.5rem);
}
.left-leave-active {
    // position: absolute;
    display: none;
}

//design right
.cardMini{
    transition: all .25s;
}
.right-enter, .right-leave-to {
    opacity: 0;
    transform: translateY(.1rem);
}
.right-leave-active {
    // position: absolute;
    display: none;
}