* {
    overflow: hidden;
    padding: 0;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: KaiTi; //以1080P做设计稿，用其他的话太麻烦，还得换算
    font-size: calc(100vw / 19.2);
    color:white;
    // user-select: none;
}
::-webkit-scrollbar {
    display: none;
}
button,input,textarea{
    display: block;
    outline: none;
    border: none;
    background: none;
    font: .4rem KaiTi;
    transition: all 0.5s;
}
button,input {
    height: .8rem;
    line-height: .8rem;
}
button {
    color: white;
    cursor: pointer;

    &:hover {
        background: rgba(0,0,0,0.3);
    }
    &[disabled] {
        background-color: rgba(255, 255, 255, 0.4);
    }
}
input,textarea{
    text-indent: .25rem; 
    box-sizing: border-box;
    // background:rgba(255,255,255,0.2);
    color:white;

    &::-webkit-input-placeholder {
        color:rgba(255,255,255,0.5);
    }
    &.search{
        background: #e4e9ec;
        text-indent: .15rem; 
        color:gray;
        &::-webkit-input-placeholder {
            color:gray;
        }
    }
}
//位置
.lb,
.rb,
.rt,
.lt {
    position: absolute;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: .1rem;

}
.rt,
.lt {
    top: -0.25rem;
}
.lb,
.rb {
    bottom: -.25rem;
}
.lb,
.lt {
    left: -0.25rem;
}
.rb,
.rt {
    right: -0.25rem;
}
//图标
.iconfont {
    filter: brightness(0.7);
    transition: filter 0.2s;
    vertical-align: sub;
    &.lg {
        font-size: 0.8rem;
    }
    &.sm {
        font-size: 0.6rem;
    }
    &.lg:hover,
    &.sm:hover {
        filter: brightness(1);
    }
    &.margin {
        margin: 0 0.2rem;
    }
    &.icon-back {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 200;
    }
    &.icon-smile {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 200;
    }
}